* {
    --pink: #f38181;
    --yellow: #FCE38A;
    --sage: #EAFFD0;
    --blue: #95E1D3;
}

body {
    background-color: #323030;
}

#heading {
    color: var(--pink);
    font-family: HeadlandOne;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 134px;
    /* 139.583% */
    letter-spacing: 9.6px;
    text-align: center;
}

nav {
    background-color: var(--sage);
    font-family: "Imprima", sans-serif;
    text-align: center;

}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: var(--pink);
}

nav>ul {
    font-size: 24px;
    line-height: 150%;
    list-style: none;
}

nav>ul>li {
    text-align: center;

}

.description>p {
    color: #FFF;

    font-family: HeadlandOne;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}

h1 {
    color: #FCE38A;

    font-family: Imprima;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 134px;
    /* 167.5% */
    letter-spacing: 8px;
}

h2 {
    color: #EAFFD0;

    font-family: Imprima;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 134px;
    /* 239.286% */
    letter-spacing: 5.6px;
}

h3 {
    color: #95E1D3;

    font-family: Imprima;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 134px;
    /* 335% */
    letter-spacing: 4px;
}