* {
    --pink: #f38181;
    --yellow: #FCE38A;
    --sage: #EAFFD0;
    --blue: #95E1D3;
}

body {
    background-color: white;
}

#heading {
    color: var(--pink);
    font-family: HeadlandOne;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 134px;
    /* 139.583% */
    letter-spacing: 9.6px;
}

nav {
    background-color: var(--pink);
    font-family: "Imprima", sans-serif;
}

nav>ul {
    font-size: 24px;
    line-height: 150%;
}